.SidebarItemSkeleton {
    display: grid;
    grid-template-areas:
        'name photo'
        'address photo'
        'age photo';
    grid-template-columns: 1fr 140px;
    grid-template-rows: auto max-content 1fr;
    column-gap: var(--space-l);

    box-sizing: border-box;
    width: var(--width-map-sidebar);
    padding: var(--space-xl);

    background-color: var(--white-color);
    border-radius: var(--border-radius-l);
    box-shadow: 2px 4px 20px rgb(0 0 0 / 10%);
}

.SidebarItemSkeleton-Photo {
    grid-area: photo;
    width: 140px;
    height: 140px;
    border-radius: var(--border-radius-l);
}

.SidebarItemSkeleton-Name {
    grid-area: name;
    height: 42px;
    margin-bottom: var(--space-l);
    border-radius: var(--border-radius-m);
}

.SidebarItemSkeleton-Address {
    grid-area: address;
    height: 24px;
    margin-bottom: var(--space-xs);
    border-radius: var(--border-radius-m);
}

.SidebarItemSkeleton-AgeTags {
    grid-area: age;
    height: 24px;
    border-radius: var(--border-radius-m);
}
