.SidebarItemSkeleton {
    display: grid;
    grid-template-areas:
        'name name'
        'age age'
        'address address';
    column-gap: var(--space-l);
    row-gap: var(--space-m);

    box-sizing: border-box;
    width: 100%;
    padding: var(--padding-m);

    background-color: var(--white-color);
    border-radius: var(--border-radius-l);
    box-shadow: var(--box-shadow-default);

    margin: 1px;
}

.SidebarItemSkeleton-Photo {
    grid-area: photo;
    width: 135px;
    height: 135px;
    border-radius: var(--border-radius-l);
    display: none;
}

.SidebarItemSkeleton-Name {
    grid-area: name;
    height: 24px;
    border-radius: var(--border-radius-m);
}

.SidebarItemSkeleton-Address {
    grid-area: address;
    height: 24px;
    margin-bottom: var(--space-xs);
    border-radius: var(--border-radius-m);
}

.SidebarItemSkeleton-AgeTags {
    grid-area: age;
    height: 24px;
    border-radius: var(--border-radius-m);
}

@media (--viewport-tablet) {
    .SidebarItemSkeleton {
        width: var(--width-map-sidebar);
        grid-template-areas:
        'name photo'
        'age photo'
        'address photo';
        grid-template-rows: auto max-content 1fr;
        grid-template-columns: auto min-content;
        height: auto;
        box-shadow: none;
    }

    .SidebarItemSkeleton-Name {
        max-width: 100%;
        height: 42px;
        margin-bottom: var(--space-l);
    }

    .SidebarItemSkeleton-Photo {
        display: flex;
    }
}

