.CatalogCard {
    display: flex;
    flex-direction: column;
    gap: var(--space-l);

    box-sizing: border-box;
    width: 356px;
    padding: var(--padding-xl);

    border-radius: var(--border-radius-l);

}

.CatalogCard_disabled {
    color: var(--typography-secondary-color);
}

.CatalogCard-Header {
    display: flex;
    gap: calc(var(--space-l) + var(--space-xs));
    justify-content: space-between;
    margin-bottom: var(--space-xs);
}

.CatalogCard-Name {
    flex-grow: 1;
    color: var(--typography-secondary-color);
}

.CatalogCard-Button {
    height: 18px;
    padding: 0;
}


.CatalogCard-PopoverOverlay {
    opacity: .9;
}

.CatalogCard-Address, .CatalogCard-Owner {
    font-size: var(--font-size-m);
}