.CatalogCard {
    display: flex;
    flex-direction: column;
    gap: var(--space-l);

    box-sizing: border-box;
    min-height: 247px;
    padding: var(--padding-xl);

    background-color: var(--surface-color-0);
    border-radius: var(--border-radius-l);
    box-shadow: var(--box-shadow-default);
}

.CatalogCard-Text {
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;

    font-size: var(--font-size-m);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.CatalogCard_disabled {
    color: var(--typography-secondary-color);
    background-color: var(--field-color);
}

.CatalogCard path {
    color: var(--base-default-color);
}

.CatalogCard_disabled path {
    color: var(--typography-secondary-color);
}

.CatalogCard-Header {
    display: flex;
    gap: calc(var(--space-l) + var(--space-xs));
    justify-content: space-between;
    margin-bottom: var(--space-xs);
}

.CatalogCard-Name {
    flex-grow: 1;
    max-width: calc(100% - 18px - var(--space-2m) - var(--padding-xl));
    color: var(--typography-secondary-color);
    cursor: pointer;


}

.CatalogCard-Button {
    height: 18px;
    padding: 0;
    position: relative;
    z-index: 1;
    width: fit-content;
}

.CatalogCard-Button::before {
    width: 30px;
    height: 30px;
    transform: scale(0);
    border-radius: 50%;
    background-color: var(--decorative-color);
    content: '';
    position: absolute;
    z-index: -1;
    opacity: 0.3;
    transition: transform ease-in-out 0.3s;
}

.CatalogCard-Button:hover::before {
    transform: scale(1);
}


.CatalogCard-PopoverOverlay {
    opacity: 0.9;
}

