.Header {
    display: flex;
    align-items: center;

    height: 70px;

    background-color: var(--surface-color-0);
    box-shadow: 2px 4px 20px rgb(0 0 0 / 10%);

    position: sticky;

    z-index: 150;

    width: 100%;

    top: 0;
}

.Header-User {
    display: flex;
    align-items: center;
    gap: var(--space-xl);
}

.Header-User path, .Header-Logo path{
    color: var(--base-default-color);
}

.Header-Content {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;

    margin: var(--space-xl);
}

nav.Header-Links {
    display: none;

}

.Header-Logo {
    margin: 0 auto 0 0;
}

.Header-Burger {
    margin-right: auto;
    width: fit-content;
}

.Header-Burger path {
    color: var(--base-default-color);
}

.Header-UserLogout {
    width: fit-content;
    padding: 0;
}

@media (--viewport-wide-desktop) {
    .Header-Content {
        max-width: var(--width-max-content);
        margin: auto;
    }
}

@media (--viewport-tablet) {
    .Header-Burger {
       display: none;
    }

    nav.Header-Links {
        display: flex;
        margin: 0 auto 0 0;
    }

    .Header-Logo {
        margin-right: auto;
    }
}