.Header {
    display: flex;
    align-items: center;

    height: 70px;

    background-color: var(--surface-color-0);
    box-shadow: 2px 4px 20px rgb(0 0 0 / 10%);

    position: sticky;

    z-index: 150;

    width: 100%;

    top: 0;
}

.Header-User {
    display: flex;
    align-items: center;
    gap: var(--space-xl);
}

.Header-User path, .Header-Logo path{
    color: var(--base-default-color);
}

.Header-Content {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;

    margin: var(--space-xl);
}

.Header-Links {
    display: flex;
    gap: var(--space-2xl);
    align-items: center;

    margin: 0 auto 0 -187px;

    font-size: var(--font-size-2xs);
    color: var(--base-default-color);

}

.Header-Logo {
    margin-right: auto;
}

.Header-Link {
    font-family: var(--ubuntu);
    color: var(--base-default-color);
}

.Header-Link_active {
    font-weight: var(--font-weight-bold);
    color: var(--base-secondary-color);
}

.Header-UserLogout {
    width: fit-content;
    padding: 0;
}

@media (--viewport-wide-desktop) {
    .Header-Content {
        max-width: var(--width-max-content);
        margin: auto;
    }
}