.Footer {
    display: flex;
    align-items: center;
    padding: 44px var(--space-xl);
    background-color: var(--surface-color-0);
}

.Footer-Content {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;

    margin: 0;

    gap: var(--space-xl);

    flex-direction: column;
}

.Footer-Section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.Footer-Header {
    margin-bottom: var(--space-2m);

    font-family: var(--ubuntu);
    font-size: var(--font-size-2xs);
    font-weight: var(--font-weight-medium);
    color: var(--base-default-color);
}

.Footer-ImageContainer {
    display: flex;
    gap: var(--space-l);
    margin-bottom: var(--space-xl);
}


.Footer-Contacts path, .Footer-Contacts li div  {
    color: var(--typography-secondary-color);
}


.Footer-Caption {
    color: var(--typography-default-color);
}

.Footer-Caption {
    margin: 0 0 var(--space-m) 0;
}

.Footer-EmailForm {
    display: flex;
    flex-direction: column;
}

.Footer-Button {
    margin-top: var(--space-m);
}

.Footer-Header_mini {
    margin-bottom: var(--space-m);
    font-family: var(--ubuntu);
    font-size: var(--font-size-m);
    color: var(--typography-default-color);
}

@media (--viewport-wide-desktop) {
    .Footer-Content {
        max-width: var(--width-max-content);
        margin: auto;
    }

    .Footer {
        padding: 44px 0;
    }
}

@media (--viewport-wide-desktop) {
    .Footer-Content {
        gap: 0;
    }
}

@media (--viewport-desktop) {
    .Footer-Content {
        flex-direction: row;
    }
}