.claritycloseLineIcon {
    cursor: pointer;

    position: absolute;
    top: 20px;
    right: 20px;

    overflow: hidden;

    width: 16px;
    height: 16px;
}

.buttonDiv2 {
    position: relative;
    display: inline-block;
    line-height: 132%;
}

.buttonDiv,
.buttonDiv1 {
    display: flex;
    flex-direction: row;
}

.buttonDiv1 {
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    padding: var(--padding-lg) var(--padding-4xl);

    background-color: var(--color-turquoise-200);
    border-radius: var(--br-xs);
}

.buttonDiv {
    position: absolute;
    top: 724px;
    left: 551px;

    align-items: flex-start;
    justify-content: flex-end;

    font-family: var(--body-txt-body-s-regular);
    font-size: var(--font-size-2xl);
    color: var(--white);
    text-align: center;
}

.uploadImageIcon {
    position: absolute;
    top: 58px;
    left: 914px;

    width: 328px;
    height: 321px;

    border-radius: var(--br-xs);
}

.div {
    position: absolute;
    top: 35px;
    left: 68px;

    display: inline-block;

    width: 608px;

    font-size: var(--font-size-5xl);
    font-weight: 600;
    line-height: 32px;
    color: var(--color-gray-2200);
    letter-spacing: -0.18px;
}

.hintDiv,
.labelDiv {
    position: relative;
    flex: 1;
}

.labelDiv {
    display: inline-block;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.1px;
}

.hintDiv {
    display: none;

    font-size: var(--font-size-xs);
    line-height: 16px;
    color: var(--color-gray-2000);
    text-align: right;
    letter-spacing: 0.4px;
}

.lLabelDiv {
    display: flex;
    flex-direction: row;
    gap: var(--gap-sm);
    align-items: center;
    align-self: stretch;
    justify-content: flex-end;

    color: var(--color-gray-2200);
}

.caretDiv,
.iconStart {
    position: relative;
    display: none;
    flex-shrink: 0;
    height: 20px;
}

.iconStart {
    overflow: hidden;
    width: 20px;
}

.caretDiv {
    width: 1px;
    background-color: var(--color-gray-2000);
}

.textDiv {
    position: relative;

    display: inline-block;
    flex: 1;

    line-height: 24px;
    letter-spacing: 0.25px;
}

.iconEnd {
    overflow: hidden;
    display: none;
    width: 24px;
    height: 24px;
}

.cInputDiv,
.iconEnd,
.iconMessage {
    position: relative;
    flex-shrink: 0;
}

.cInputDiv {
    display: flex;
    flex-direction: row;
    gap: var(--gap-xs);
    align-items: center;
    align-self: stretch;
    justify-content: flex-start;

    box-sizing: border-box;
    height: 48px;
    padding: var(--padding-lg) var(--padding-xl);

    background-color: var(--white);
    border: 1px solid var(--color-gray-400);
    border-radius: var(--br-xs);
}

.iconMessage {
    overflow: hidden;
    width: 16px;
    height: 16px;
}

.messageDiv {
    position: relative;
    display: inline-block;
    line-height: 16px;
    letter-spacing: 0.4px;
}

.lMessageDiv {
    display: none;
    flex-direction: row;
    gap: var(--gap-2xs);
    align-items: center;
    justify-content: flex-start;

    font-size: var(--font-size-xs);
}

.inputDiv,
.inputStandardDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.inputDiv {
    gap: var(--gap-xs);
    align-self: stretch;
}

.inputStandardDiv {
    position: absolute;
    top: 91px;
    left: 68px;
    width: 296px;
}

.hintDiv1 {
    position: relative;

    display: none;
    flex: 1;

    line-height: 16px;
    letter-spacing: 0.4px;
}

.lLabelDiv1 {
    position: absolute;
    top: 399px;
    left: 1030px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    width: 296px;

    font-size: var(--font-size-xs);
    text-align: right;
}

.inputStandardDiv1,
.inputStandardDiv2,
.inputStandardDiv3,
.inputStandardDiv4,
.inputStandardDiv5,
.inputStandardDiv6 {
    position: absolute;
    top: 195px;
    left: 68px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    width: 104px;
}

.inputStandardDiv2,
.inputStandardDiv3,
.inputStandardDiv4,
.inputStandardDiv5,
.inputStandardDiv6 {
    left: 207px;
}

.inputStandardDiv3,
.inputStandardDiv4,
.inputStandardDiv5,
.inputStandardDiv6 {
    left: 346px;
}

.inputStandardDiv4,
.inputStandardDiv5,
.inputStandardDiv6 {
    left: 485px;
}

.inputStandardDiv5,
.inputStandardDiv6 {
    left: 624px;
}

.inputStandardDiv6 {
    left: 763px;
}

.inputStandardDiv10,
.inputStandardDiv11,
.inputStandardDiv12,
.inputStandardDiv7,
.inputStandardDiv8,
.inputStandardDiv9 {
    position: absolute;
    top: 299px;
    left: 68px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    width: 368px;
}

.inputStandardDiv10,
.inputStandardDiv11,
.inputStandardDiv12,
.inputStandardDiv8,
.inputStandardDiv9 {
    top: 502px;
    left: 499px;
}

.inputStandardDiv10,
.inputStandardDiv11,
.inputStandardDiv12,
.inputStandardDiv9 {
    left: 899px;
}

.inputStandardDiv10,
.inputStandardDiv11,
.inputStandardDiv12 {
    top: 601px;
    left: 68px;
    width: 798px;
}

.inputStandardDiv11,
.inputStandardDiv12 {
    top: 403px;
    left: 588px;
    width: 278px;
}

.inputStandardDiv12 {
    left: 68px;
    width: 229px;
}

.lLabelDiv14 {
    display: flex;
    flex-direction: row;
    gap: var(--gap-sm);
    align-items: center;
    align-self: stretch;
    justify-content: flex-end;
}

.cInputDiv13,
.lMessageDiv13 {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.cInputDiv13 {
    position: relative;

    display: flex;
    flex-shrink: 0;
    gap: var(--gap-xs);
    align-self: stretch;

    box-sizing: border-box;
    height: 48px;
    padding: var(--padding-lg) var(--padding-xl);

    color: var(--color-teal-100);

    background-color: var(--white);
    border: 1px solid var(--color-gray-400);
    border-radius: var(--br-xs);
}

.lMessageDiv13 {
    display: none;
    gap: var(--gap-2xs);
    font-size: var(--font-size-xs);
    color: var(--color-gray-2000);
}

.inputStandardDiv13,
.inputStandardDiv14,
.inputStandardDiv15 {
    position: absolute;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.inputStandardDiv13 {
    top: 299px;
    left: 450px;
    width: 226px;
    color: var(--color-gray-2200);
}

.inputStandardDiv14,
.inputStandardDiv15 {
    top: 403px;
    left: 898px;
    width: 202px;
}

.inputStandardDiv15 {
    left: 329px;
    width: 229px;
}

.lLabelDiv17,
.labelDiv17 {
    color: var(--color-gray-2200);
}

.lLabelDiv17 {
    position: absolute;
    top: 399px;
    left: 1063px;

    display: flex;
    flex-direction: row;
    gap: var(--gap-sm);
    align-items: center;
    justify-content: flex-end;

    width: 229px;

    text-align: center;
}

.labelDiv17 {
    top: 91px;
    left: 377px;

    width: 368px;

    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.1px;
}

.cInputDiv16,
.cInputDiv17,
.labelDiv17,
.labelDiv18 {
    position: absolute;
    display: flex;
    align-items: center;
}

.cInputDiv16 {
    top: 123px;
    left: 377px;

    flex-direction: row;
    gap: var(--gap-xs);
    justify-content: flex-start;

    box-sizing: border-box;
    width: 299px;
    height: 48px;
    padding: var(--padding-lg) var(--padding-xl);

    background-color: var(--white);
    border: 1px solid var(--color-gray-400);
    border-radius: var(--br-xs);
}

.cInputDiv17,
.labelDiv18 {
    left: 0;
}

.labelDiv18 {
    top: 0;

    width: 218px;

    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.1px;
}

.cInputDiv17 {
    top: 32px;

    flex-direction: row;
    gap: var(--gap-xs);
    justify-content: flex-start;

    box-sizing: border-box;
    width: 177px;
    padding: var(--padding-lg) var(--padding-xl);

    color: var(--color-gray-2000);

    background-color: var(--white);
    border: 1px solid var(--color-gray-400);
    border-radius: var(--br-xs);
}

.cInputDiv18,
.groupDiv {
    position: absolute;
    top: 91px;
    left: 689px;

    width: 218px;
    height: 80px;

    color: var(--color-gray-2200);
}

.cInputDiv18 {
    top: 32px;
    left: 0;

    display: flex;
    flex-direction: row;
    gap: var(--gap-xs);
    align-items: center;
    justify-content: flex-start;

    box-sizing: border-box;
    width: 177px;
    height: 48px;
    padding: var(--padding-lg) var(--padding-xl);

    color: var(--color-gray-2000);

    background-color: var(--white);
    border: 1px solid var(--color-gray-400);
    border-radius: var(--br-xs);
}

.cInputDiv19,
.groupDiv1 {
    position: absolute;
    top: 299px;
    left: 689px;

    width: 218px;
    height: 80px;

    color: var(--color-gray-2200);
}

.cInputDiv19 {
    top: 32px;
    left: 0;

    display: flex;
    flex-direction: row;
    gap: var(--gap-xs);
    align-items: center;
    justify-content: flex-start;

    box-sizing: border-box;
    width: 197px;
    height: 48px;
    padding: var(--padding-lg) var(--padding-xl);

    color: var(--color-gray-2000);

    background-color: var(--white);
    border: 1px solid var(--color-gray-400);
    border-radius: var(--br-xs);
}

.groupDiv2 {
    position: absolute;
    top: 502px;
    left: 275px;

    width: 218px;
    height: 80px;

    color: var(--color-gray-2200);
}

.inputStandardDiv16 {
    position: absolute;
    top: 502px;
    left: 68px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    width: 181px;
}

.togglerIcon {
    position: absolute;
    top: 439px;
    left: 1152px;

    width: 51px;
    height: 32px;
}

.imagePlaceholderIcon {
    position: absolute;
    top: 58px;
    left: 914px;

    width: 328px;
    height: 321px;

    object-fit: cover;
    border-radius: var(--br-md);
}

.addPadding,
.lLabelDiv19 {
    display: flex;
    flex-direction: row;
}

.lLabelDiv19 {
    position: absolute;
    top: 601px;
    left: 899px;

    gap: var(--gap-sm);
    align-items: center;
    justify-content: flex-end;

    width: 368px;

    color: var(--color-gray-2200);
}

.addPadding {
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
    padding: var(--padding-3xs) 0 0;
}

.documentdocxDiv {
    position: relative;

    display: inline-block;
    flex-shrink: 0;

    width: 365px;

    font-weight: 300;
    line-height: 148%;
}

.docDiv {
    display: flex;
    flex: 1;
    gap: var(--gap-xs);
    justify-content: flex-start;
}

.closepaddingDiv,
.docDiv,
.documentDiv {
    flex-direction: row;
    align-items: flex-start;
}

.closepaddingDiv {
    display: none;
    justify-content: flex-start;
    box-sizing: border-box;
    padding: var(--padding-3xs) 0 0;
}

.documentDiv {
    position: absolute;
    top: 641px;
    left: 899px;

    display: flex;
    gap: var(--gap-lg);
    justify-content: flex-end;

    width: 368px;
    height: 40px;

    font-family: var(--body-txt-body-s-regular);
    font-size: var(--font-size-3xl);
    color: var(--color-indigo-300);
}

.currentObjDiv {
    position: absolute;
    top: 0;
    left: 0;

    overflow: hidden;

    width: 1310px;
    height: 816px;

    background-color: var(--white);
    box-shadow: var(--large-shadow-for-pop-up-windows1);
}

.curObjDiv {
    position: relative;

    overflow: auto;

    width: 1310px;
    max-width: 90%;
    height: 816px;
    max-height: 90%;

    font-family: var(--font-inter);
    font-size: var(--body-default-size);
    color: var(--color-gray-2000);
    text-align: left;
}
