.CatalogCardGrid {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-2m) var(--space-2l) ;
    align-items: center;
    justify-content: flex-start;

    margin: 0;
    padding: 0;

    list-style: none;

}

.CatalogCardGrid-Item {
    box-sizing: border-box;
    width: 100%;
}

@media (--viewport-tablet) {
    .CatalogCardGrid-Item {
        width: calc(50% - 0.5 * var(--space-2l));
    }
}

@media (--viewport-desktop) {
    .CatalogCardGrid-Item {
        width: calc(32% - 0.3 * var(--space-2l));
    }
}

@media (--viewport-wide-desktop) {
    .CatalogCardGrid-Item {
        width: var(--width-catalog-item);
    }
}