.Main-Sponsors_desktop, .Main-Sponsors_mobile {
    gap: var(--space-2xl);
    align-items: center;
    justify-content: center;
    margin-top: var(--space-2l);

}

.Main-Sponsors_mobile {
    display: flex;
}

.Main-Sponsors_desktop {
    display: none;
}

.Main-Sponsors {
    position: relative;
    display: initial;
}

.Main-Surface {
    background-color: var(--special-white-color);
    border-radius: 0 0 87px 87px;
    width: 1100px;
    position: absolute;
    bottom: calc(-1 * var(--space-xl));
    height: 231px;
    max-width: 100%;
    left: 0;
    right: 0;
    margin: auto;
}

.Main {
    background-color: var(--surface-color-0);
}

@media (--viewport-desktop) {
    .Main-Sponsors_desktop {
        display: flex;
    }

    .Main-Sponsors_mobile {
        display: none;
    }
}
