.Main-Sponsors {
    gap: var(--space-2xl);
    align-items: center;
    justify-content: center;

    margin-top: var(--space-2l);

    position: relative;

    display: none;
}

.Main-Surface {
    background-color: var(--special-white-color);
    border-radius: 0 0 87px 87px;
    width: 1100px;
    position: absolute;
    bottom: calc(-1 * var(--space-xl));
    height: 231px;
    max-width: 100%;

    display: none;
}

.Main {
    background-color: var(--surface-color-0);
}

@media (--viewport-phone) {
    .Main-Sponsors {
        display: flex;
    }
    .Main-Surface {
        display: initial;
    }
}
