.Main-Sponsors {
    display: flex;
    gap: var(--space-2xl);
    align-items: center;
    justify-content: center;

    margin-top: var(--space-2l);

    position: relative;
}

.Main-Surface {
    background-color: var(--special-white-color);
    border-radius: 0 0 87px 87px;
    width: 900px;
    position: absolute;
    bottom: calc(-1 * var(--space-xl));
    height: 231px;
    max-width: 100%;
}

.Main {
    background-color: var(--white-color);
}
