.ant-select-selector {
    height: 37px !important;
    background-color: var(--field-color) !important;
}

.ant-select-single .ant-select-selector .ant-select-selection-item,
.ant-select-single .ant-select-selector .ant-select-selection-placeholder {
    line-height: 35px;
}

.ant-select-single .ant-select-selector,
.ant-select-item-option-content, .ant-select-selection-item {
    font-size: var(--font-size-m);
}

.ant-select-focused .ant-select-selector,
.ant-select-selector:hover {
    border-color: var(--black-color) !important;
}

.ant-select-selection-placeholder {
    color: var(--placeholder-color) !important;
}

.ant-select-item.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
    background-color: var(--decorative-color);
}

.ant-select-open .ant-select-selection-item {
    color: var(--black-color) !important;
}
