.ant-select-selector {
    height: 40px !important;
    background-color: var(--field-color) !important;
}

.ant-select-single .ant-select-selector .ant-select-selection-item,
.ant-select-single .ant-select-selector .ant-select-selection-placeholder {
    line-height: 38px;
}

.ant-select-single .ant-select-selector,
.ant-select-item-option-content, .ant-select-selection-item {
    font-size: var(--font-size-m);
}

.ant-select-focused .ant-select-selector,
.ant-select-selector:hover {
    border-color: black !important;
}

.ant-select-selection-placeholder {
    color: var(--placeholder-color) !important;
}
