.FileLoadModal-Title {
    font-family: var(--ubuntu);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-medium);
}

.FileLoadModal-Requirements {
    color: var(--typography-default-color);
    font-size: var(--font-size-m);
    margin: var(--space-xl) 0;
}

.FileLoadModal-RequirementsTitle {
    margin: 0;
}

.FileLoadModal-List {
    list-style: disc;
    display: list-item;
    margin-left: 12px;
}

.FileLoadModal-UploadSection {
    width: 100%;
    gap: var(--space-2l);
    margin-bottom: var(--space-2l);
    position: relative;
}

.FileLoadModal-Validation {
    position: absolute;
    top: 2px;
    left: 150px;
    border-radius: var(--border-radius-m);
    border: solid 1px black;
    padding: 2px var(--space-s);
    align-items: center;
}

.FileLoadModal-Validation_blue, .FileLoadModal-Validation_blue path {
    background-color: #EDF3F9;
    border-color: #2C96B8;
    color: #2C96B8;
}

.FileLoadModal-Validation_blue svg {
    animation: cycle 1s linear infinite;
}

@keyframes cycle {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

.FileLoadModal-Validation_red, .FileLoadModal-Validation_red path {
    background-color: #FCF0F0;
    border-color: #EB5353;
    color: #EB5353;
}


.FileLoadModal-Validation_green, .FileLoadModal-Validation_green path {
    background-color: #EBFFFB;
    border-color: #00B695;
    color: #00B695;
}

.FileLoadModal-ValidationText {
    color: inherit;
    font-family: var(--ubuntu);
}