.Register-LabelWrapper, .Register-Input_noIcon {
    margin-bottom: var(--space-m);
}

.Register-LabelWrapper {
    gap: var(--space-m)
}

.Register-Button {
    margin-top: var(--space-2xl);
}

.Register-Input_noIcon {
   padding-left: calc(20px + var(--space-m));
}

.Register-Input, .Register-Input_noIcon {
    flex-grow: 1;
}