.ForgetPassword-LabelWrapper {
    gap: var(--space-m);
    display: flex;
}

.ForgetPassword-Button {
    margin: var(--space-2xl) auto 0 0;
}

.ForgetPassword-Input {
    flex-grow: 1;
}

.ForgetPassword {
    box-sizing: border-box;
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: calc(100% - var(--space-xl) * 2);
    padding: 60px 100px;
    border-radius: var(--border-radius-l);
}

.ForgetPassword-Form {
    width: 100%;
}

@media (--viewport-tablet) {
    .ForgetPassword {
        width: 646px;
    }
}
