.claritycloseLineIcon {
    cursor: pointer;

    position: absolute;
    top: 20px;
    right: 20px;

    overflow: hidden;

    width: 16px;
    height: 16px;
}

.expositoryTextDiv,
.windowTitleDiv {
    position: relative;

    display: inline-block;

    width: 348px;

    font-weight: 500;
    line-height: 120%;
}

.expositoryTextDiv {
    font-size: var(--font-size-2xl);
    font-weight: 300;
    line-height: 132%;
    color: var(--color-gray-2100);
}

.textDiv {
    display: flex;
    flex-direction: column;
    gap: var(--gap-md);
    align-items: center;
    justify-content: flex-start;
}

.buttonDiv1 {
    position: relative;
    display: inline-block;
    line-height: 132%;
}

.buttonDiv,
.textButtonDiv {
    display: flex;
    align-items: center;
}

.buttonDiv {
    cursor: pointer;

    position: relative;

    flex-direction: row;
    justify-content: center;

    box-sizing: border-box;
    padding: var(--padding-lg) var(--padding-4xl);

    font-size: var(--font-size-2xl);
    color: var(--color-turquoise-200);

    background-color: var(--white-color);
    border: 1px solid var(--color-turquoise-200);
    border-radius: var(--br-xs);
}

.textButtonDiv {
    position: absolute;
    top: 170px;
    left: calc(50% - 174px);

    flex-direction: column;
    gap: var(--gap-xl);
    justify-content: flex-start;
}

.modalImageIcon,
.successDiv {
    position: absolute;
    overflow: hidden;
}

.modalImageIcon {
    top: 40px;
    left: calc(50% - 110px);
    width: 220px;
    height: 110px;
}

.successDiv {
    top: 0;
    left: 0;

    width: 460px;
    height: 362px;

    background-color: var(--white-color);
    border-radius: var(--br-md);
    box-shadow: var(--large-shadow-for-pop-up-windows1);
}

.objAddedDiv {
    position: relative;

    overflow: auto;

    width: 460px;
    max-width: 90%;
    height: 362px;
    max-height: 90%;

    font-family: var(--body-txt-body-s-regular);
    font-size: var(--font-size-8xl);
    color: var(--color-gray-2300);
    text-align: center;
}
