obj
*.cache
*.editorconfig
*.cache
*.editorconfig
*.dll
*.pdb
*.cache
SFAS/SFASServer/SFAS.Database/bin/Debug/net6.0/SFAS.Common.dll
*.pdb
SFAS/SFASServer/SFAS.Database/bin/Debug/net6.0/SFAS.Common.dll
SFAS/SFASServer/SFAS.Database/bin/Debug/net6.0/SFAS.Common.pdb
SFAS/SFASServer/SFAS.Database/bin/Debug/net6.0/SFAS.Database.dll
SFAS/SFASServer/SFAS.Database/bin/Debug/net6.0/SFAS.Database.pdb
SFAS/SFASServer/SFAS.Database/Entities/SportsFacility.cs
SFAS/SFASServer/SFAS.Database/obj/Debug/net6.0/ref/SFAS.Database.dll
SFAS/SFASServer/SFAS.Database/obj/Debug/net6.0/refint/SFAS.Database.dll
SFAS/SFASServer/SFAS.Database/obj/Debug/net6.0/SFAS.Database.assets.cache
SFAS/SFASServer/SFAS.Database/obj/Debug/net6.0/SFAS.Database.csproj.AssemblyReference.cache
SFAS/SFASServer/SFAS.Database/obj/Debug/net6.0/SFAS.Database.csproj.CoreCompileInputs.cache
SFAS/SFASServer/SFAS.Database/obj/Debug/net6.0/SFAS.Database.csproj.FileListAbsolute.txt
SFAS/SFASServer/SFAS.Database/obj/Debug/net6.0/SFAS.Database.dll
SFAS/SFASServer/SFAS.Database/obj/Debug/net6.0/SFAS.Database.GeneratedMSBuildEditorConfig.editorconfig
SFAS/SFASServer/SFAS.Database/obj/Debug/net6.0/SFAS.Database.genruntimeconfig.cache
SFAS/SFASServer/SFAS.Database/obj/Debug/net6.0/SFAS.Database.pdb
SFAS/SFASServer/SFAS.Database/obj/project.assets.json
SFAS/SFASServer/SFAS.Database/obj/project.nuget.cache
SFAS/SFASServer/SFAS.Database/obj/SFAS.Database.csproj.nuget.dgspec.json
SFAS/SFASServer/SFAS.Services/bin/Debug/net6.0/SFAS.Common.dll
SFAS/SFASServer/SFAS.Services/bin/Debug/net6.0/SFAS.Common.pdb
SFAS/SFASServer/SFAS.Services/bin/Debug/net6.0/SFAS.Database.dll
SFAS/SFASServer/SFAS.Services/bin/Debug/net6.0/SFAS.Database.pdb
SFAS/SFASServer/SFAS.Services/bin/Debug/net6.0/SFAS.Services.deps.json
SFAS/SFASServer/SFAS.Services/bin/Debug/net6.0/SFAS.Services.dll
SFAS/SFASServer/SFAS.Services/bin/Debug/net6.0/SFAS.Services.pdb
SFAS/SFASServer/SFAS.Services/Interfaces/IFacilityService.cs
SFAS/SFASServer/SFAS.Services/Interfaces/IReportService.cs
SFAS/SFASServer/SFAS.Services/obj/Debug/net6.0/ref/SFAS.Services.dll
SFAS/SFASServer/SFAS.Services/obj/Debug/net6.0/refint/SFAS.Services.dll
SFAS/SFASServer/SFAS.Services/obj/Debug/net6.0/SFAS.Services.assets.cache
SFAS/SFASServer/SFAS.Services/obj/Debug/net6.0/SFAS.Services.csproj.AssemblyReference.cache
SFAS/SFASServer/SFAS.Services/obj/Debug/net6.0/SFAS.Services.csproj.CoreCompileInputs.cache
SFAS/SFASServer/SFAS.Services/obj/Debug/net6.0/SFAS.Services.csproj.FileListAbsolute.txt
SFAS/SFASServer/SFAS.Services/obj/Debug/net6.0/SFAS.Services.dll
SFAS/SFASServer/SFAS.Services/obj/Debug/net6.0/SFAS.Services.GeneratedMSBuildEditorConfig.editorconfig
SFAS/SFASServer/SFAS.Services/obj/Debug/net6.0/SFAS.Services.genruntimeconfig.cache
SFAS/SFASServer/SFAS.Services/obj/Debug/net6.0/SFAS.Services.pdb
SFAS/SFASServer/SFAS.Services/obj/project.assets.json
SFAS/SFASServer/SFAS.Services/obj/project.nuget.cache
SFAS/SFASServer/SFAS.Services/obj/SFAS.Services.csproj.nuget.dgspec.json
