.CheckboxTab {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--space-l);

    margin: 0;
    padding: var(--padding-m) 0;

    border: none;
}


.CheckboxTab-Checkbox {
    font-size: var(--font-size-m);

    font-family: var(--ubuntu);
}

@media (--viewport-tablet) {
    .CheckboxTab {
        row-gap: var(--space-xl);
        column-gap: var(--space-2xl);
    }
}