.Login-TabTitle {
    font-family: var(--ubuntu);
    font-size: var(--font-size-2xs);
    color: inherit;
    font-weight: inherit;

    text-align: center;
}

.Login-Form {
    background-color: var(--white-color);
    padding: 60px 100px;
    border-radius: var(--border-radius-l);
    width: calc(100% - var(--space-xl) * 2);
    box-sizing: border-box;
    z-index: 1;
}

.Login {
    height: calc(100vh - 70px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    flex-direction: column;
    gap: var(--space-m);
}

.Login path {
    color: var(--base-secondary-color);
}

.Login_light {
    background-image: url("/images/LoginBackground.png");
}

.Login_dark {
    background-image: url("/images/LoginBackground_dark.png");
}

@media (--viewport-tablet) {
    .Login-Form {
        width: 646px;
    }

    .Login-TabTitle {
        width: 125px;
    }
}