.Login-TabTitle {
    font-family: var(--ubuntu);
    font-size: var(--font-size-2xs);
    color: inherit;
    font-weight: inherit;

    text-align: center;
}

.Login-Form {
    position: relative;
    background-color: var(--white-color);
    padding: calc(var(--space-2l) + 3px) var(--space-xl) var(--space-xl);
    border-radius: var(--border-radius-l);
    width: calc(100% - var(--space-xl) * 2);
    box-sizing: border-box;
    z-index: 1;
}

.Login {
    height: calc(100vh - 70px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    flex-direction: column;
    gap: var(--space-m);
}

.Login path {
    color: var(--base-secondary-color);
}

.Login_light {
    background-image: url('/images/LoginBackground.png');
}

.Login_dark {
    background-image: url('/images/LoginBackground_dark.png');
}

.Login-Form_desktop {
    display: none;
}

.Login-Dots {
    top: calc(-1 * (var(--space-2l) + 3px)) !important;
}

.Login-Dots button {
    background: var(--base-default-color) !important;
}

@media (--viewport-tablet) {
    .Login-TabTitle {
        width: 125px;
    }

    .Login-Form_desktop {
        display: initial;
    }

    .Login-Form_mobile {
        display: none;
    }

    .Login-Form {
        padding: 60px 100px;
        width: 646px;
    }
}
