.Login-TabTitle {
    font-family: var(--ubuntu);
    font-size: var(--font-size-l);
    color: inherit;
    font-weight: inherit;
}

.Login-Form {
    background-color: var(--white-color);
    padding: 60px 100px;
    border-radius: var(--border-radius-l);
    max-width: 646px;
}

.Login {
    height: calc(100vh - 70px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("/images/LoginBackground.png");
    background-size: cover;
}