.SidebarDetails {
    pointer-events: auto;

    box-sizing: border-box;
    width: var(--width-map-sidebar);
    padding: var(--padding-xl);

    font-size: var(--font-size-m);

    background-color: var(--white-color);
    border-radius: var(--border-radius-l);
    box-shadow: 2px 4px 20px rgb(0 0 0 / 10%);

}

.SidebarDetails-Name {
    max-width: 100%;
    margin: var(--space-l) 0 var(--space-xl);
}

.SidebarDetails-Back {
    cursor: pointer;
    width: fit-content;
}

.SidebarDetails-CatalogButton {
    margin-top: var(--space-2m);
}
