.SidebarDetails {
    width: var(--width-map-sidebar);
    padding: var(--padding-xl);

    font-size: var(--font-size-m);

    border-radius: var(--border-radius-l);
    box-shadow: 2px 4px 20px rgb(0 0 0 / 10%);
}

.SidebarDetails-Name {
    margin-bottom: var(--space-xs);
}

.SidebarDetails-LinkText {
    font-weight: var(--font-weight-medium);
    color: var(--base-secondary-color);
    text-decoration: none;
}

.SidebarDetails-Availability {
    display: flex;
    gap: var(--space-m);
    align-items: center;
}

.SidebarDetails-Info {
    display: flex;
    flex-direction: column;
    gap: var(--space-l);
    margin: var(--space-l) 0 calc(var(--space-l) + var(--space-xs));
}

.SidebarDetails-Back {
    cursor: pointer;
    width: fit-content;
}
