.SidebarDetails {
    pointer-events: auto;
    position: relative;

    box-sizing: border-box;
    width: var(--width-map-sidebar);
    padding: var(--padding-xl);

    font-size: var(--font-size-m);

    background-color: var(--white-color);
    border-radius: var(--border-radius-l);
    box-shadow: 2px 4px 20px rgb(0 0 0 / 10%);

    overflow-y: auto;
    max-height: calc(100vh - 9rem);

    overflow-x: hidden;

}

.SidebarDetails path {
    color: var(--base-default-color);
}

.SidebarDetails-Name {
    max-width: 100%;
    margin: var(--space-l) 0 var(--space-xl);
}

.SidebarDetails-Back {
    cursor: pointer;
    width: fit-content;

    position: absolute;
    z-index: 10;

}

.SidebarDetails-CatalogButton {
    margin-top: var(--space-2m);
}

.SidebarDetails-Photo {
    margin: calc((-1) * var(--padding-xl)) 0 0 calc((-1) * var(--padding-xl));
}

.SidebarDetails-Name_top {
    margin: calc(var(--space-l) + var(--space-2m)) 0 var(--space-xl);
}