.ant-select-selector {
    height: 36px !important;
    background-color: var(--field-color) !important;
}

:where(.css-dev-only-do-not-override-1me4733).ant-select-single .ant-select-selector .ant-select-selection-item,
:where(.css-dev-only-do-not-override-1me4733).ant-select-single .ant-select-selector .ant-select-selection-placeholder {
    line-height: 34px;
}

:where(.css-dev-only-do-not-override-1me4733).ant-select-single .ant-select-selector,
.ant-select-item-option-content {
    font-size: var(--font-size-m);
}

.ant-select-focused .ant-select-selector,
.ant-select-selector:hover {
    border-color: black !important;
}

.ant-select-selection-placeholder {
    color: var(--placeholder-color) !important;
}
