.claritycloseLineIcon {
    cursor: pointer;

    position: absolute;
    top: 20px;
    right: 20px;

    overflow: hidden;

    width: 16px;
    height: 16px;
}

.expositoryTextDiv,
.windowTitleDiv {
    position: relative;
    display: inline-block;
    width: 392px;
}

.windowTitleDiv {
    flex-shrink: 0;
    height: 36px;
    font-weight: 500;
    line-height: 120%;
}

.expositoryTextDiv {
    font-size: var(--font-size-2xl);
    font-weight: 300;
    line-height: 132%;
    color: var(--color-gray-2100);
}

.textDiv {
    display: flex;
    flex-direction: column;
    gap: var(--gap-md);
    align-items: center;
    justify-content: flex-start;
}

.buttonDiv2 {
    position: relative;
    display: inline-block;
    line-height: 132%;
}

.buttonDiv1,
.buttonDiv3 {
    cursor: pointer;

    flex-direction: row;
    justify-content: center;

    box-sizing: border-box;
    padding: var(--padding-lg) var(--padding-4xl);

    border-radius: var(--br-xs);
}

.buttonDiv1 {
    position: relative;

    display: flex;
    align-items: center;

    background-color: var(--white-color);
    border: 1px solid var(--color-turquoise-200);
}

.buttonDiv3 {
    color: var(--white-color);
    background-color: var(--color-turquoise-200);
}

.buttonDiv,
.buttonDiv3,
.textButtonDiv {
    display: flex;
    align-items: center;
}

.buttonDiv {
    flex-direction: row;
    gap: var(--gap-lg);
    justify-content: center;

    font-size: var(--font-size-2xl);
    color: var(--color-turquoise-200);
}

.textButtonDiv {
    position: absolute;
    top: 40px;
    left: calc(50% - 196px);

    flex-direction: column;
    gap: var(--gap-xl);
    justify-content: flex-start;
}

.hideDiv,
.questionDiv {
    width: 504px;
    height: 232px;
}

.questionDiv {
    position: absolute;
    top: 0;
    left: 0;

    overflow: hidden;

    background-color: var(--white-color);
    border-radius: var(--br-md);
    box-shadow: var(--large-shadow-for-pop-up-windows1);
}

.hideDiv {
    position: relative;

    overflow: auto;

    max-width: 90%;
    max-height: 90%;

    font-family: var(--body-txt-body-s-regular);
    font-size: var(--font-size-8xl);
    color: var(--color-gray-2300);
    text-align: center;
}
