.EmailForm {
    width: 100%;
    padding: var(--space-xl) var(--space-2l);
    background-color: var(--white-color);
    border-radius: var(--border-radius-l);
}

.EmailForm-TabTitle {
    font-family: var(--ubuntu);
    font-size: var(--font-size-2xs);
    color: inherit;
    font-weight: inherit;
}

.EmailForm path {
    color: var(--base-default-color);
}