.EmailForm {
    flex-grow: 1;
    padding: var(--space-xl) var(--space-2l);
    background-color: var(--white-color);
    border-radius: var(--border-radius-l);
    max-width: 1000px;
    width: calc(100% - var(--space-xl) * 2);
    box-sizing: border-box;
}

.EmailForm-TabTitle {
    font-family: var(--ubuntu);
    font-size: var(--font-size-2xs);
    color: inherit;
    font-weight: inherit;
}

.EmailForm path {
    color: var(--base-default-color);
}

.EmailForm_desktop {
    display: none;
}

.EmailForm_mobile {
    margin-top: calc(var(--space-2l) + 3px);
}

.EmailForm-Dots {
    top: calc(-1 * (var(--space-2l) + 3px)) !important;
}

.EmailForm-Dots button {
    background: var(--base-default-color) !important;
}

@media (--viewport-tablet) {
    .EmailForm {
        width: auto;
    }
}

@media (--viewport-tablet) {
    .EmailForm_desktop {
        display: initial;
    }

    .EmailForm_mobile {
        display: none;
    }
}
