.MapView {
    position: relative;

}

.MapView-Content {
    position: absolute;
    z-index: 10;
    inset: 0;

    margin: 0 var(--space-xl);
    pointer-events: none;
}

.MapView-Details {
    position: absolute;
    bottom: var(--space-xl);
    left: 0;
    background-color: rgba(var(--transparent-white), 60%);
    border-radius: var(--border-radius-l);
    padding: var(--space-l);
    width: 100%;
    pointer-events: auto;
    box-sizing: border-box;
}

.MapView-DetailsButton {
    margin-top: var(--space-s);
}

.MapView-DetailsText {
    margin: 0;
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-l);

    text-align: center;
}

.MapView-DetailsLinkText {
    font-family: var(--ubuntu);
    color: var(--special-white-color);
}

.MapView-Hint {
    pointer-events: auto;
    position: absolute;
    align-items: center;
    padding: var(--space-l);
    background-color: rgba(var(--transparent-white), 60%);
    border-radius: var(--border-radius-l);
    inset: var(--space-xl) auto auto 0
}

.MapView-HintText {
    color: var(--black-color);
    font-size: var(--font-size-m);
}

@media (--viewport-wide-desktop) {
    .MapView-Content {
        max-width: var(--width-max-content);
        margin: auto;
    }
}

@media (--viewport-tablet) {
    .MapView-Details {
        max-width: 300px;
    }

    .MapView-DetailsText {
        text-align: left;
    }
}


@media (--viewport-desktop) {

    .MapView-Hint {
        inset: auto 0 var(--space-xl) auto;
    }
}