.Features {
    position: relative;
    min-height: 939px;
    margin: 0 var(--space-xl);
}

.Features-Heading {
    font-family: var(--ubuntu);
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-medium);
    color: var(--special-white-color);
}

.Features-Text,
.Features-TextLink {
    font-family: var(--ubuntu);
    font-size: var(--font-size-2xs);
    font-weight: var(--font-weight-medium);
    color: var(--black-color);
}

.Features-List {
    display: list-item;
    margin-left: 12px;
    list-style: disc;
}

.Features-Label {
    width: fit-content;
    margin-bottom: var(--space-s);
    padding: 6px 14px;

    background-color: var(--base-secondary-color);
    border-radius: 20px;
}

.Features-TextLink {
    color: var(--base-default-color);
}

.Features-Image {
    position: absolute;
    display: flex;
    gap: var(--space-m);
    align-items: center;
}

.Features-Description {
    max-width: 332px;
}

.Features-Image_basketball {
    top: 10%;
    left: 5%;
}

.Features-Image_golf {
    bottom: 10%;
    left: 10%;
}

.Features-Image_racket {
    top: 10%;
    right: 5%;
}

.Features-Image_football {
    right: 5%;
    bottom: 15%;
}

.Features-Question {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (--viewport-wide-desktop) {
    .Features {
        max-width: var(--width-max-content);
        margin: auto;
    }
}
