.Features {
    position: relative;
    margin: 120px 0;


    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.Features_light {
    background-image: url("/images/FeaturesLine.svg");
}

.Features_dark {
    background-image: url("/images/FeaturesLine_dark.svg");
}

.Features-Content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;

    gap: var(--space-2l);
    margin: 0 var(--space-xl);
    min-height: 548px;

}

.Features-Heading {
    font-family: var(--ubuntu);
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-medium);
    color: var(--special-white-color);
}

.Features-Text,
.Features-TextLink {
    font-family: var(--ubuntu);
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-medium);
    color: var(--black-color);
}

.Features-List {
    display: list-item;
    margin-left: 12px;
    list-style: disc;
}

.Features-Label {
    width: fit-content;
    margin-bottom: var(--space-s);
    padding: 6px 14px;

    background-color: var(--base-secondary-color);
    border-radius: 20px;
}

.Features-TextLink {
    color: var(--base-default-color);
}

.Features-Image {
    display: flex;
    gap: var(--space-m);
    align-items: center;
    flex-basis: 100%;
    margin: 0;
}

.Features-Description {
    max-width: 332px;
    flex-shrink: 10;
}


@media (--viewport-wide-desktop) {
    .Features {
        margin: 120px auto;
    }


    .Features-Content {
       margin: auto;
    }
}

@media (--viewport-tablet) {
    .Features-Image {
        margin-left: 20%;
    }

    .Features-Text,
    .Features-TextLink {
        font-size: var(--font-size-2xs);
    }

}

@media (--viewport-desktop) {
    .Features-Content {
        gap: initial;
    }

    .Features-Image {
        flex-basis: 50%;
        margin: 0;
    }
}