.icArrowsLeftIcon {
    cursor: pointer;

    position: absolute;
    top: 38px;
    left: 439px;

    overflow: hidden;

    width: 40px;
    height: 40px;
}

.imagePlaceholderIcon {
    position: absolute;
    top: 58px;
    left: 40px;

    width: 328px;
    height: 321px;

    object-fit: cover;
    border-radius: var(--br-md);
}

.hintDiv,
.labelDiv {
    position: relative;
    flex: 1;
}

.labelDiv {
    display: inline-block;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.1px;
}

.hintDiv {
    display: none;

    font-size: var(--font-size-xs);
    line-height: 16px;
    color: var(--color-gray-2000);
    text-align: right;
    letter-spacing: 0.4px;
}

.lLabelDiv,
.labelDiv1,
.labelDiv2,
.labelDiv3 {
    position: absolute;
    left: 40px;
    display: flex;
    align-items: center;
}

.lLabelDiv {
    top: 453px;

    flex-direction: row;
    gap: var(--gap-sm);
    justify-content: flex-end;

    width: 296px;
}

.labelDiv1,
.labelDiv2,
.labelDiv3 {
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.1px;
}

.labelDiv1 {
    top: 404px;
    width: 328px;
    font-size: var(--font-size-4xl);
}

.labelDiv2,
.labelDiv3 {
    top: 505px;
    width: 432px;
}

.labelDiv3 {
    top: 554px;
}

.httpsfitnessHouseruSpan {
    color: var(--color-teal-500);
}

.labelTxtSpan {
    width: 100%;
    line-break: anywhere;
}

.labelDiv4 {
    position: absolute;
    top: 606px;
    left: 40px;

    display: flex;
    align-items: center;

    width: 432px;

    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.1px;
}

.labelDiv5 {
    top: 655px;
    width: 432px;
    color: var(--color-gray-2400);
}

.labelDiv5,
.labelDiv6,
.labelDiv7 {
    position: absolute;
    left: 40px;

    display: flex;
    align-items: center;

    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.1px;
}

.labelDiv6 {
    top: 707px;
    width: 432px;
    color: var(--color-gray-2400);
}

.labelDiv7 {
    top: 759px;
    width: 181px;
}

.detailsDiv1,
.togglerIcon {
    position: absolute;
    top: 800px;
    left: 79px;

    width: 51px;
    height: 32px;
}

.detailsDiv1 {
    top: 0;
    left: 0;

    width: 521px;
    height: 883px;

    background-color: var(--white);
    box-shadow: 0 4px 40px rgb(0 0 0 / 5%);
}

.detailsDiv {
    position: relative;

    overflow: auto;

    width: 521px;
    max-width: 90%;
    height: 883px;
    max-height: 90%;

    font-family: var(--font-inter);
    font-size: var(--body-default-size);
    color: var(--color-gray-2200);
    text-align: left;
}
