.WorkingHoursForm {
    display: flex;
    justify-content: space-between;
    margin: 0 var(--space-xs);
}

.WorkingHoursForm-Data {
    display: flex;
    flex-direction: column;
    gap: var(--space-xl);

    margin: 0;
    padding: 0;

    border: none;

    width: 100%;
}

.WorkingHoursForm-Header {
    font-family: var(--ubuntu);
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-medium);
    color: var(--base-default-color);
}

.WorkingHoursForm-Image {
    display: none;
}

@media (--viewport-tablet) {
    .WorkingHoursForm {
        margin: 0;
    }

    .WorkingHoursForm-Data {
        width: auto;
    }
}

@media (--viewport-desktop) {
    .WorkingHoursForm-Image {
        display: initial;
    }
}