.FiltersControls-Fieldset {
    display: flex;
    flex-grow: 1;
    gap: var(--space-m);

    margin: 0;
    padding: 0;

    border: none;
}

.FiltersControls {
    display: flex;
    gap: 57px;
    justify-content: space-between;
    width: 100%;
}

.FiltersControls-ButtonGroup {
    display: flex;
    gap: var(--space-l);
}

.FiltersControls-Search {
    width: 100%;
}