.Login-LabelWrapper {
    margin-bottom: var(--space-m);
    gap: var(--space-m)
}


.Login-Button {
    margin-top: var(--space-2xl);
}

.Login-Input {
    flex-grow: 1;
}

.Login-ForgetPassword {
    padding: 0;
    margin-top: var(--space-l);
}
