.ItemModal {
    display: flex;
    gap: var(--space-xl);

    flex-direction: column;
}

.ItemModal-Info,
.ItemModal-Aside {
    flex-basis: 50%;
}

.ItemModal-Aside {
    display: flex;
    flex-direction: column;
    gap: var(--space-m);
    justify-content: center;
}

.ItemModal-Name {
    max-width: calc(100% - 22px);
}

.ItemModal-Map {
    height: 300px;
}

.ItemModal-MapContainer {
    width: 100%;
    height: 100%;
}

.ItemModal path {
    color: var(--base-default-color);
}

.ItemModal-MapContainer_photo {
    height: 300px;
}

@media (--viewport-tablet) {
    .ItemModal {
        flex-direction: row;
        gap: 80px;
    }

    .ItemModal-Map {
        height: 100%;
    }

    .ItemModal-MapContainer {
        width: 432px;
    }

    .ItemModal-Name {
        max-width: calc(50% - 60px);

    }
}
