.NewPassword {
    height: calc(100vh - 70px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    flex-direction: column;
    gap: var(--space-m);
}

.NewPassword path {
    color: var(--base-secondary-color);
}

.NewPassword_light {
    background-image: url("/images/LoginBackground.png");
}

.NewPassword_dark {
    background-image: url("/images/LoginBackground_dark.png");
}

@media (--viewport-tablet) {
    .Login-Form {
        width: 646px;
    }
}