.claritycloseLineIcon {
    position: absolute;
    top: 20px;
    right: 20px;

    overflow: hidden;

    width: 16px;
    height: 16px;
}

.div,
.expositoryTextDiv {
    position: relative;

    display: inline-block;

    width: 348px;

    font-weight: 500;
    line-height: 120%;
}

.expositoryTextDiv {
    display: none;

    font-size: var(--font-size-2xl);
    font-weight: 300;
    line-height: 132%;
    color: var(--color-gray-2100);
}

.textDiv {
    display: flex;
    flex-direction: column;
    gap: var(--gap-md);
    align-items: center;
    justify-content: flex-start;
}

.div1 {
    position: relative;

    display: inline-block;

    width: 348px;

    font-size: var(--font-size-2xl);
    font-weight: 300;
    line-height: 132%;
    color: var(--color-gray-2100);
}

.textButtonDiv {
    position: absolute;
    top: 150px;
    left: calc(50% - 174px);

    display: flex;
    flex-direction: column;
    gap: var(--gap-xl);
    align-items: center;
    justify-content: flex-start;
}

.button {
    cursor: pointer;
    position: absolute;
    top: 282px;
    left: 144px;
}

.modalImageIcon,
.noFunctionDiv1 {
    position: absolute;
    overflow: hidden;
}

.modalImageIcon {
    top: 40px;
    left: calc(50% - 110px);
    width: 220px;
    height: 110px;
}

.noFunctionDiv1 {
    top: 0;
    left: 0;

    width: 460px;
    height: 362px;

    background-color: var(--white);
    border-radius: var(--br-md);
    box-shadow: var(--large-shadow-for-pop-up-windows1);
}

.noFunctionDiv {
    position: relative;

    overflow: auto;

    width: 460px;
    max-width: 90%;
    height: 362px;
    max-height: 90%;

    font-family: var(--body-txt-body-s-regular);
    font-size: var(--font-size-6xl);
    color: var(--color-gray-2300);
    text-align: center;
}
