.SidebarFilters {
    pointer-events: auto;

    display: flex;
    flex-flow: row wrap;
    gap: var(--space-m);

    margin-bottom: var(--space-l);
    padding: 0;

    border: none;
}

.SidebarFilters-Search {
    width: var(--width-map-sidebar);
}

button.SidebarFilters-Toggle {
    width: 37px;
    height: 37px;
    padding: var(--space-xs);
    box-sizing: border-box;
}

button.SidebarFilters-Toggle_closed {
    background-color: var(--white-color);
}

