.SidebarFilters {
    pointer-events: auto;

    display: flex;
    flex-flow: row wrap;
    gap: var(--space-m);

    margin-bottom: var(--space-l);
    padding: 0;

    border: none;
    width: var(--width-map-sidebar);

    align-items: center;
}

.SidebarFilters-Search {
    width: calc(var(--width-map-sidebar) - 37px + var(--space-m));
}

button.SidebarFilters-Toggle {
    width: 37px;
    height: 37px;
    padding: var(--space-xs);
    box-sizing: border-box;

}

.SidebarFilters-Toggle path {
    color: var(--base-additional-color);
}

button.SidebarFilters-Toggle_closed {
    background-color: var(--white-color);
}

.SidebarFilters_desktop {
    display: none;

    flex-flow: row wrap;
    gap: var(--space-m);

}

.SidebarFilters_mobile {
    display: initial;
}

.SidebarFilters-Drawer {
    background-color: var(--white-color);

}

.SidebarFilters-DrawerContent {
    display: flex;
    flex-direction: column;
    gap: var(--space-xl);
}


@media (--viewport-tablet) {
    .SidebarFilters {
        width: calc(var(--width-map-sidebar) + 37px + var(--space-m));
    }

    .SidebarFilters_desktop {
        display: flex;

    }

    .SidebarFilters_mobile {
        display: none;
    }

    .SidebarFilters-Search {
        width: var(--width-map-sidebar);
    }
}

@media (--viewport-desktop) {
    .SidebarFilters {
        width: max-content;
    }
}



