.TextWithIcon {
    display: flex;
    flex-direction: row;
    gap: var(--space-xs);
    align-items: flex-start;
    justify-content: flex-start;
}

.TextWithIcon-IconContainer {
    width: 20px;
    height: 20px;
}