.Search-Wrapper {
    position: relative;
}

.Search {
    box-sizing: border-box;
    width: 100%;
    padding-left: calc(21px + 2 * var(--padding-s));
}

.Search-Icon {
    position: absolute;
    top: 0;
    left: var(--padding-s);

    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
}
