.Pagination {
    pointer-events: auto;
    display: flex;
    gap: var(--space-m);
    margin-top: var(--space-l);
    justify-content: center;
}

.Pagination-Button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;
    padding:0;

    background-color: var(--white-color);
    box-shadow: var(--box-shadow-default);
}


.Pagination path {
    color: var(--base-default-color);
}

@media (--viewport-tablet) {
    .Pagination {
        justify-content: flex-start;
    }
}