.SidebarItem {
    cursor: pointer;

    display: grid;
    grid-template-areas:
        'name name'
        'age age'
        'address address';
    column-gap: var(--space-l);

    box-sizing: border-box;
    width:100%;
    margin: 1px;
    padding: var(--padding-m);

    background-color: var(--white-color);
    border-radius: var(--border-radius-l);
    box-shadow: var(--box-shadow-default);
}

.SidebarItem path {
    color: var(--base-default-color);
}

.SidebarItem:hover {
    outline: var(--base-additional-color) solid 1px;
}

.SidebarItem-Photo {
    display: none;
    grid-area: photo;
    align-items: center;
    justify-content: center;

    width: 135px;
    height: 135px;

    background-color: var(--decorative-color);
    border-radius: var(--border-radius-l);
}

.SidebarItem-Photo_light path,  .SidebarItem-Photo_light circle {
    color: var(--special-white-color);
}

.SidebarItem-Photo_dark path,  .SidebarItem-Photo_dark circle {
    color: var(--base-additional-color);
}

.SidebarItem-Name {
    grid-area: name;
    width: 100%;
    max-width: 250px;
    margin-bottom: var(--space-l);
}

.SidebarItem-Address {
    grid-area: address;
    margin-top: var(--space-m);
}

.SidebarItem-AddressText {
    overflow: hidden;
    display: -webkit-box;

    font-size: var(--font-size-m);

    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.SidebarItem-AgeTags {
    grid-area: age;
}

@media (--viewport-tablet) {
    .SidebarItem {
        grid-template-areas:
        'name photo'
        'age photo'
        'address photo';
        grid-template-columns: 1fr 135px;
        width: var(--width-map-sidebar);
        box-shadow: none;

    }

    .SidebarItem-Name {
        max-width: 300px;
    }

    .SidebarItem-Photo {
        display: flex;
    }

}
