.SidebarItem {
    cursor: pointer;

    display: grid;
    grid-template-areas:
        'name photo'
        'age photo'
        'address photo';
    grid-template-columns: 1fr 140px;
    column-gap: var(--space-l);

    box-sizing: border-box;
    width: var(--width-map-sidebar);
    padding: var(--space-xl);

    background-color: var(--white-color);
    border-radius: var(--border-radius-l);
    box-shadow: 2px 4px 20px rgb(0 0 0 / 10%);
}

.SidebarItem path {
    color: var(--base-default-color);
}

.SidebarItem:hover {
    outline: var(--base-additional-color) solid 1px;
}

.SidebarItem-Photo {
    grid-area: photo;
    width: 140px;
    height: 140px;
}

.SidebarItem-Name {
    grid-area: name;
    max-width: 300px;
    margin-bottom: var(--space-l);
}

.SidebarItem-Address {
    grid-area: address;
    margin-top: var(--space-m);
}

.SidebarItem-AddressText {
    overflow: hidden;
    display: -webkit-box;

    font-size: var(--font-size-m);

    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.SidebarItem-AgeTags {
    grid-area: age;
}
