.SidebarMessage {
    pointer-events: auto;

    display: flex;
    flex-direction: column;
    gap: var(--space-m);

    width: var(--width-map-sidebar);
    padding: var(--padding-l) var(--padding-2l);

    background-color: rgb(255 255 255 / 60%);
    border-radius: var(--border-radius-l);
}

.SidebarMessage-Title {
    font-family: var(--ubuntu);
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-medium);
}

.SidebarMessage-Message {
    font-size: var(--font-size-m);
    color: var(--typography-secondary-color);
}