.PhotoUploader-Label {
    display: flex;
    gap: var(--space-xs);
    align-items: flex-start;
    margin-bottom: var(--space-s);
    flex-direction: column;
}

.PhotoUploader-Label_main {
    font-size: var(--font-size-l);
    color: var(--black-color);
}

.PhotoUploader-Label_subtext {
    font-size: var(--font-size-m);
    color: var(--typography-default-color);
}


.PhotoUploader-Button {
    width: 100%;
}

@media (--viewport-tablet) {
    .PhotoUploader-Label {
        flex-direction: row;
        align-items: center;
        gap: var(--space-s);
    }

    .PhotoUploader-Button {
        width: fit-content;
    }
}