.Field {
    display: grid;
    grid-auto-flow: row;
}

.Field-Caption {
    margin-bottom: var(--space-s);
    font-size: var(--font-size-l);
    display: flex;
    align-items: center;
    gap: var(--space-xs);
}

.Field-Subtext_error {
    color: var(--error-color);
}

.Field-Star {
    color: var(--error-color);
}

.Field-InputWrapper {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
    align-items: flex-start;
}
