.FiltersHeader {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: var(--space-2m);
}

.FiltersHeader-Tab {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-xl);

    padding: 0;

    list-style: none;
}

.FiltersHeader-Item {
    cursor: pointer;
    display: flex;
    gap: var(--space-s);
    align-items: center;
}

.FiltersHeader-Clear {
    padding-left: 0;
}

.FiltersHeader-Clear span, .FiltersHeader-Item {
    font-family: var(--ubuntu);
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-regular);
}