.Catalog-Found {
    display: flex;
    gap: var(--space-xs);
    margin: var(--space-2m) 0;
    font-size: var(--font-size-m);
}

.Catalog-Found_count {
    font-weight: var(--font-weight-medium);
    color: var(--base-secondary-color);
}

.Catalog {
    background-color: var(--surface-color-1);
}

.Catalog-Main {
    margin: var(--space-xl) var(--space-xl) 60px;
    min-height: calc(100vh - 76px - 300px);
}

.Catalog-Pagination {
    display: flex;
    justify-content: center;
    margin: var(--space-2xl) auto;
}

.Catalog-NoResults {
    display: flex;
    flex-direction: column;
    gap: var(--space-m);
    width: 100%;
    align-items: center;
}

.Catalog-NoResultsCaption {
    font-size: var(--font-size-m);
    color: var(--typography-secondary-color);
    text-align: center;
}

.Catalog-NoResults path {
    color: var(--base-default-color);
}

.Catalog-NoResultsText {
    font-family: var(--ubuntu);
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-2xs);
    color: var(--black-color);
    text-align: center;
}

@media (--viewport-wide-desktop) {
    .Catalog-Main {
        max-width: var(--width-max-content);
        margin: var(--space-xl) auto 60px;
    }
}
