.CardHeader {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 500px;
}

.CardHeader-Name {
    font-family: var(--ubuntu);
    font-size: var(--font-size-m);
    color: var(--typography-secondary-color);
}

.CardHeader-Type {
    font-family: var(--ubuntu);
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-medium);
    color: var(--base-default-color)
}

.CardHeader-Type_disabled {
    color: var(--typography-secondary-color);
}