.WorkingHoursInput {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: var(--space-l);
}

.WorkingHoursInput-Input {
    display: flex;
    gap: var(--space-s);
    align-items: center;
    flex-basis: 100%;
}

.WorkingHoursInput-Input::placeholder {
    font-size: var(--font-size-l);
}

.WorkingHoursInput-Day {
    width: 110px;
    font-size: var(--font-size-l);
    margin-right: auto;
}

.WorkingHoursInput-HoursInput {
    box-sizing: border-box;
    text-align: center;
}

.WorkingHoursInput-Field {
    width: 100%;
}

.WorkingHoursInput-Divider {
    width: 15px;
}

.WorkingHoursInput-SwitchText {
    margin-left: var(--space-l);
    font-size: var(--font-size-l);
    color: var(--typography-default-color);
}

@media (--viewport-phone) {
    .WorkingHoursInput-Day {
        width: 180px;
    }

}

@media (--viewport-tablet) {
    .WorkingHoursInput {
        flex-wrap: nowrap;
    }

    .WorkingHoursInput-Input {
        flex-basis: auto;
        margin-left: 50px;
        height: 38px;
        gap: 0;
    }

    .WorkingHoursInput-HoursInput {
        width: 70px;
    }

    .WorkingHoursInput-Day {
        margin-right: 0;
    }
}
