.Tag {
    width: fit-content;
    padding: 0 9px;
    color: var(--special-white-color);
    border-radius: var(--border-radius-s);
    cursor: default;
}

.Tag_outline {
    border: 2px solid var(--base-additional-color);
}

.Tag_default {
    background-color: var(--base-additional-color);
}

.Tag_active {
    background-color: var(--base-secondary-color);
}

.Tag-Text {
    font: var(--font-weight-medium) var(--font-size-m) / 24px var(--ubuntu);
    color: inherit;
}

.Tag-Text_outline {
    color: var(--base-additional-color);
}

.Tag_disabled {
    pointer-events: none;
    background-color: var(--typography-default-color);
}

.Tag_clickable {
    cursor: pointer;
}
