.Button {
    cursor: pointer;

    display: flex;
    gap: var(--space-s);
    align-items: center;
    justify-content: center;

    width: 100%;
    padding: var(--padding-s) var(--padding-l);

    font-size: var(--font-size-m);

    border: none;
    border-radius: var(--border-radius-m);

    transition: 0.1s linear all;
}

.Button:active {
    transform: scale(0.98);
}

.Button_default {
    background-color: var(--base-default-color);
}

.Button_active {
    background-color: var(--active-button-color);
}

.Button_default:hover {
    background-color: var(--base-secondary-color);
}

.Button_active:hover {
    background-color: var(--base-default-color);
}

.Button_clear {
    background-color: transparent;
}

.Button_clear .Button-Text {
    color: var(--black-color);
}

.Button-Text {
    font-family: var(--ubuntu);
    font-weight: var(--font-weight-medium);
    color: var(--special-white-color);
}

.Button_disabled {
    pointer-events: none;
    background-color: var(--typography-default-color) !important;
}

.Button_loading {
    pointer-events: none;
    background-color: var(--success-color) !important;
}

.Button-LoadingIcon {
    width: auto;
    animation: cycle 1s linear infinite;
}

.Button-LoadingIcon path {
    color: var(--special-white-color) !important;
}

@keyframes cycle {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (--viewport-tablet) {
    .Button {
        width: fit-content;
        padding: var(--padding-2xs) var(--padding-l);
    }
}
