.SidebarItemsList{
    pointer-events: auto;

    display: flex;
    flex-direction: column;
    gap: var(--space-m);

    width: 100%;

    list-style: none;

    overflow-y: auto;
    max-height: calc(100vh - 9rem - 40px - var(--space-l));
    overflow-x: hidden;
}

@media (--viewport-tablet) {
    .SidebarItemsList {
        padding: 0 var(--space-s) 0 0;
    }
}

