.NewPassword-LabelWrapper {
    gap: var(--space-m);
    display: flex;
}

.NewPassword-Button {
    margin: var(--space-2xl) auto 0 0;
}

.NewPassword-Input {
    flex-grow: 1;
}

.NewPassword {
    box-sizing: border-box;
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: calc(100% - var(--space-xl) * 2);
    padding: 60px 100px;
    border-radius: var(--border-radius-l);
}

.NewPassword-Form {
    width: 100%;
}

.NewPassword-LabelWrapper, .Register-Input_noIcon {
    margin-bottom: var(--space-m);
}

.NewPassword-LabelWrapper {
    gap: var(--space-m)
}

.NewPassword-Button {
    margin-top: var(--space-2xl);
}

.NewPassword-Input_noIcon {
    padding-left: calc(20px + var(--space-m));
}

.NewPassword-Input, .NewPassword-Input_noIcon {
    flex-grow: 1;
}

@media (--viewport-tablet) {
    .NewPassword {
        width: 646px;
    }
}
