.dark_theme {
    --decorative-color: #4E5C78;
    --black-color: #FFF;
    --typography-default-color: #A2B7CD;
    --typography-secondary-color: #B5CFE7;
    --base-active-input-color: #617FB9;
    --base-default-color: #5F85DB;
    --base-secondary-color: #90B8F8;
    --base-additional-color: #365EB9;
    --white-color: #2E2E2E;
    --placeholder-color: #B0C9E0;
    --field-color: #3D4351;
    --error-color: #EC4141;
    --special-black-color: #2E2E2E;
    --special-white-color: #FFF;
    --transparent-white: 46,46,46;

    --surface-color-0: var(--field-color);
    --surface-color-1: #353941;
    --surface--color-modal: var(--field-color);

    --active-button-color: var(--base-default-color);
}