:root {
    --decorative-color: #C2CCD6;
    --black-color: #2E2E2E;
    --typography-default-color: #97A8B9;
    --typography-secondary-color: #798189;
    --base-active-input-color: #ACEEFC;
    --base-default-color: #59C2E7;
    --base-secondary-color: #2C96B8;
    --base-additional-color: #7AD6F3;
    --white-color: #FFF;
    --placeholder-color: #A9A9A9;
    --field-color: #FAFAFA;
}