@import url('https://fonts.google.com/specimen/Quicksand?query=Quicksand#standard-styles');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Ubuntu:wght@300;400;500&display=swap');

:root {
    --roboto: roboto, sans-serif;
    --ubuntu: ubuntu, sans-serif;
}

* {
    font-family: Roboto, sans-serif;
    font-weight: var(--font-weight-regular);
    color: var(--black-color);
}