/* Below animations are fore modal created using React-Modal */
.ReactModal__Overlay {
    transform: scale(0);
    transition: transform 300ms ease-in-out;
    transition-delay: 100ms;

    /* transform: translateY(-150%); */
}

.ReactModal__Overlay--after-open {
    transform: scale(1);

    /* transform: translateY(0%); */
}

.ReactModal__Overlay--before-close {
    transform: scale(0);

    /* transform: translateY(-150%); */
}

:root {
    --modal-z-index: 1000;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */

    /* display: none; <- Crashes Chrome on hover */
    appearance: none;
}

input[type="number"] {
    appearance:textfield; /* Firefox */
}
