h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    margin: 0;
}

a {
    text-decoration: none;
}

a span {
    font-weight: var(--font-weight-medium);
}

a:visited {
    color: inherit;
    text-decoration: none;
}

ul {
    padding: 0;
    list-style: none;
}

input {
    box-sizing: border-box;
    width: fit-content;
}

body {
    margin: 0;
}

::-webkit-progress-bar {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 0;
}

::-webkit-progress-value {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0;
}

::-moz-progress-bar {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0;
}

textarea {
    resize: none;
}


