ymaps.ymaps-2-1-79-map-copyrights-promo {
    display: none;
}

ymaps span {
    color: var(--base-default-color);
    font-family: var(--ubuntu);
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-medium);
    display: block;

}

ymaps.ymaps-2-1-79-hint__text {
    padding: var(--space-xs) var(--space-m);
    background-color: rgb(255 255 255 / 80%);
    border-radius: var(--border-radius-l);
    border: none;
}

ymaps.ymaps-2-1-79-hint {
    background-color: rgb(255 255 255 / 80%);
    border-radius: var(--border-radius-l);
    border: none;
    box-shadow: none;
}