.Achievements {
    display: flex;
    align-items: center;
    min-height: 875px;
}

.Achievements-Content {
    margin: var(--space-xl) auto;
}

.Achievements-ImageContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 22px;
}

.Achievements-Heading {
    font-family: var(--ubuntu);
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-medium);
    color: var(--special-white-color);
    text-align: center;
}

.Achievements-Text {
    max-width: 200px;
    font-size: var(--font-size-2xs);
    color: var(--black-color);
    text-align: center;
}

.Achievements-Label {
    width: fit-content;
    margin: var(--space-xl) 0 var(--space-m);
    padding: 6px 14px;

    background-color: var(--base-secondary-color);
    border-radius: 20px;
}

.Achievements-Image {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: calc(50% - 20px);
    transition: transform 0.5s ease-in-out;
}

.Achievements-ImageMedal:hover {
    animation: medal-hover 1s alternate infinite ease-in-out;
}

@keyframes medal-hover {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-20px);
    }
}

.Achievements-BigHeading {
    margin: 0 auto 78px;

    font-family: var(--ubuntu);
    font-size: 48px;
    font-weight: var(--font-weight-bold);
    color: var(--base-default-color);
    text-align: center;
}

@media (min-width: 1160px) {
    .Achievements-Content {
        max-width: 1160px;
        margin: auto;
    }
}

@media (--viewport-tablet) {
    .Achievements-ImageContainer {
        flex-wrap: nowrap;
        align-items: center;
        gap: 80px;
    }

    .Achievements-Image {
        width: auto;
    }

    .Achievements-Image_achievementSearch {
        align-self: flex-end;
        margin-top: 10%;
    }

    .Achievements-Image_achievementDifference {
        align-self: flex-start;
    }

    .Achievements-Image_achievementAccess {
        align-self: flex-end;
    }

    .Achievements-Image_achievementAdministration {
        align-self: flex-start;
    }
}
