.Development {
    min-height: 1150px;
    padding: 26px 0 var(--space-xl);
    background-size: cover;
}

.Development_light {
    background-image: url('/images/main/EndBackground.jpg');
}

.Development_dark {
    background-image: url('/images/main/EndBackground_dark.jpg');
}

.Development-Content {
    margin: 0 var(--space-xl);
}

.Development-BigHeading {
    margin: 0 auto 76px;

    font-family: var(--ubuntu);
    font-size: 28px;
    font-weight: var(--font-weight-bold);
    color: var(--special-white-color);
    text-align: center;

    letter-spacing: 1px;
}

.Development-HintText {
    font-family: var(--ubuntu);
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-medium);
    color: var(--special-white-color);
    white-space: pre-wrap;
}

.Development-Hint {
    display: flex;
    gap: var(--space-xl);
    align-items: center;
}

.Development-MainBlock {
    display: flex;
    gap: var(--space-2l);
    margin-top: var(--space-2l);
}

.Development-ContactsBlock {
    width: max-content;
    height: fit-content;
    padding: var(--padding-2l);

    background-color: rgba(var(--transparent-white), 60%);
    border-radius: var(--border-radius-l);
    display: none;
}

@media (--viewport-wide-desktop) {
    .Development-Content {
        max-width: var(--width-max-content);
        margin: auto;
    }
}

@media (--viewport-desktop) {
    .Development-ContactsBlock {
        display: initial;
    }
}

@media (--viewport-tablet) {
    .Development-BigHeading {
        font-size: 48px;
    }

    .Development-HintText {
        font-size: var(--font-size-2xs);
    }

    .Development {
        height: auto;
        min-height: 913px;
    }
}
